@import "html5-boilerplate/normalize";
//@import "html5-boilerplate/main";

@import "neat/neat";

@import "spec/tacular";

$lightGreen: #99db76;

$gt-mobile: (
  columns: 12,
  gutter: 1em,
  media: 40.0625em,
);

* {
  box-sizing: border-box;
}

body {
  --mainnav-bg: radial-gradient(circle, #3f4850 0%, #365462 46%, #3e5554 60%, #42554d 68%, #573d4e 100%);
  font-family: -apple-system,
       BlinkMacSystemFont,
       "Segoe UI",
       Roboto,
       Oxygen-Sans,
       Ubuntu,
       Cantarell,
       "Helvetica Neue",
       sans-serif;
}

%modx-cta {
  line-height: 1;
  //width: 100%;
  border: none;
  //font-size: 1.7rem;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;

  //margin: 1.6rem 0 1.6rem 0;
  border-radius: 3px;
  background-clip: padding-box;
  text-shadow: 0 0 2px rgba(0,0,0,0.8);
  background: #66a747;
  border: 1px solid darken(#66a747, 6%);
  box-shadow: 0 2px 1px rgba(0,1,1,0.34), 0 0 7px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.51);
  background-image: linear-gradient(bottom, saturate(#66a747, 100%) 0%,saturate(#66a747, 100%) 27.76%,saturate(#9ec650, 100%) 100%);
  &:not(.primary) {
    filter: grayscale(100%);
  }
  &[disabled] {
    filter: grayscale(100%);
  }
  &:not(.subtle) {
    display: block;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  &.subtle {
    font-size: .875em;
  }
}

%flexible {
  display: flex;
}

.visually-hidden {
  @extend %visually-hidden;
}

button {
  color: white;
  @extend %modx-cta;
}

.balanced {
  @extend %balanced;
}

h1,h2,h3 {
  small {
    font-weight: normal;
    display: block;
  }
}

#logo {
  max-width: 3rem;
  margin-bottom: 1rem;
  filter: saturate(200%);
}

section:not(#welcome) {
  > * {
    @include grid-container;
    max-width: 48rem;
    margin: 0 auto;
  }
}

#install-these-packages {
  a {
    color: currentColor;
    &:hover, &:target {
      color: darken(#118AFF, 10%);
    }
    &:focus {
      color: darken(#118AFF, 10%);
    }
  }
}

details {
  > fieldset {
    margin-top: .5em;
  }
}

.dangerous {
  background: rgba(red, 0.2);
  border:1px solid rgba(red, 0.4);
  border-radius: .4em;
  padding:0.25em 1em;
  color: darken(red, 30%);
  font-size: .875em;
  line-height: 1.5;
}

.wa-octal-table {
  font-size: .875em;
  thead {

  }
  tbody {
    tr {
      &:first-child {
        text-align: right;
      }
    }
    td {
      padding: .25rem;
    }
  }
}

.wa-octal-table-wrapper {
  h3 {
    margin:0 auto 1rem 0;
    //font-weight: normal;
    //font-size: 1em;
  }
}

section {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include grid-media($gt-mobile) {
    padding-bottom: 6rem;
  }

  footer {
    @include grid-media($gt-mobile) {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
    }
  }

  &#welcome {
    //border-bottom: 1px solid darken(#3f4850, 4%);
    footer {
      @include grid-media($gt-mobile) {
        bottom: 3rem;
      }
    }
  }

  > div {
    > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

body {
  margin: 0 auto;
}

.flexible {
  @extend %flexible;
  justify-content: space-around;
}

#welcome {
  h1 {
    margin-top: 0;
  }
}

#config-key-details {
  margin-top: 1rem;
}

fieldset.commerce {
  margin-top: 1em;
}

a.button {
  @extend %modx-cta;
  display: block;
  color: white;
  text-decoration: none;
  /*background: #569941;
  color: lighten(#569941, 50%) !important;
  margin-top: 2rem;
  padding-top:.5rem;
  padding-bottom:.5rem;
  border: 1px solid darken(#569941, 12%);
  border-radius: .5em;
  text-decoration: none;
  transition: all 240ms ease;
  &:hover, &:focus {
    background: darken(#569941, 8%);
    border-color: darken(darken(#569941, 12%), 8%);
  }*/
}

section {
  min-height: 100vh;
  &:not(#welcome) {
    &:nth-of-type(odd) {
      background: rgb(240, 240, 240);
      border:1px solid rgb(230, 230, 230);
    }
  }
}

label {
  display: block;
}

h1,h2,h3 {
  text-align: center;
}

.button-bar {
  > * {
    padding: 0 1rem;
  }
  @include grid-media($gt-mobile) {
    display: flex;
    justify-content: center;
    > * {
      flex: 0 0 auto;
      margin-right: 1rem;

      .wa-exaggerate-tap-areas & {
        flex-grow: 1;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.a11y-preference-modules {
  @include grid-media($gt-mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > * {
      padding: 1rem;
      margin: .5rem;
      border: 1px solid rgb(200, 200, 200);
      border-radius: .3em;
      transition: all 240ms ease;
      &:hover {
        background: white;
      }
      > h1,h2,h3 {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

section#admin-user {
  input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    min-width: 18em;
  }
}

hr {
  margin: 1rem 0;
}

a {
  small {
    text-transform: uppercase;
    font-variant-caps: all-small-caps;
    color: rgb(120, 120, 120);
  }
  &:hover, &:active, &:focus {
    small {
      color: currentColor;
    }
  }
}

#breadcrumb {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--mainnav-bg, #3f4850);
  //background: #002033;
  //background: darken(#6EA745, 30%);
  //background: rgba(lighten(green, 18%), .98);
  //background: rgb(220, 220, 220);

  text-transform: uppercase;
  font-variant-caps: all-small-caps;
  //background: rgb(220, 220, 220);
  font-size: .875rem;
  color: rgb(220, 220, 220);
  color: darken(#1d4168, 12%);
  border-bottom: 1px solid darken(#3f4850, 4%);

  a {
    @extend %very-subtle;
    //background: rgb(220, 220, 220);
    color: darken(#1d4168, 12%);
  }
  ul {
    margin: 0;
    //padding: .5rem 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  li {
    display: inline-block;
    //opacity: .5;
    &:first-of-type {
      //opacity: 1;
    }
  }
}

#breadcrumb{
  overflow: hidden;
  width: 100%;
}

#breadcrumb li{
  float: left;
  margin: 0 .5em 0 1em;
}

#breadcrumb a{
  background: #a4d1f0;
  background: #a4d1f0;
  padding: .35em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  position: relative;
}

#breadcrumb li.active {
  &:first-of-type {
    position: relative;
    &:before {
      display: block;
      content: " ";
      background: $lightGreen;
      position: absolute;
      top: 0;
      right: 0;
      width: 100em;
      bottom: 0;
    }
  }
}

#breadcrumb a:hover {
  background: lighten(#a4d1f0, 6%);
}

#breadcrumb li.active a {
  background: $lightGreen;
  &:hover {
    background: lighten($lightGreen, 6%);
  }
}

#breadcrumb a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #a4d1f0 #a4d1f0 #a4d1f0 transparent;
  left: -1em;
}

#breadcrumb a:hover::before, #breadcrumb li.active a::before {
  border-color: $lightGreen $lightGreen $lightGreen transparent;
}

#breadcrumb li.active a:hover::before {
  border-color:  lighten($lightGreen, 6%)  lighten($lightGreen, 6%) lighten($lightGreen, 6%) transparent;
}

#breadcrumb a::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #a4d1f0;
  right: -1em;
}

#breadcrumb a.active {
  background: $lightGreen;
  &:last-of-type {
    outline: 1px solid red;
  }
}

#breadcrumb a:hover::after, #breadcrumb .active a::after {
  border-left-color: $lightGreen;
}

#breadcrumb .current,
#breadcrumb .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumb .current::after,
#breadcrumb .current::before{
  content: normal;
}

details {
  margin: 1rem 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  &:first-of-type { // #janky i think there is another way to do this
    margin-bottom: 1rem;
  }
  fieldset & {
    margin-bottom: .5rem;
    &:first-of-type { // #janky i think there is another way to do this
      margin-bottom: .5rem;
    }
  }
}

fieldset {
  margin-bottom: 1rem;
}

.emoji {
  font-family: initial;
}

#a11y-prefs {
  &:target {
    //display: block !important;
  }
}

section#welcome {
  //height: 100vh;
  position: relative;
  text-align: center;
  background: var(--mainnav-bg);
  h1, p, details, label {
  color: white;
  }

  #continue {
    transform: translateY(2rem);
  }

  input {
    color: black;
  }


  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  a:not(.button) {
    color: currentColor;
  }
  #a11y-prefs-btn {
    position: absolute;
    bottom: .5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    a {
      text-decoration: none;
    }
  }
}
